<!DOCTYPE html>
<head>
	<!-- templatemo 419 black white -->
    <!-- 
    Black White
    http://www.templatemo.com/preview/templatemo_419_black_white
    -->
	<title>Video detector</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="static/core/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="static/core/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/core/css/templatemo_style.css" rel="stylesheet" type="text/css">
    <link href="static/core/css/video.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/png">
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-left-container">
			<h1 class="logo-left">Object Detection</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-container" style="background-color: rgb(53, 91, 217); z-index: 2;"> 
			<h1 class="logo-left hidden-xs" style="color: white; margin-bottom: 40px;">Object</h1>		
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
                    <li><a href="/"><i class="fa fa-home fa-medium"></i><b>Home</b></a></li>
                    <li><a href="/image"><i class="fa fa-image fa-medium"></i><b>Image detector</b></a></li>
                    <li><a href="/video" class="active"><i class="fa fa-video-camera fa-medium"></i><b>Video detector</b></a></li>
                    <li><a href="/YouTubeVideo"><i class="fa fa-youtube-play fa-medium"></i><b>YouTube video detector</b></a></li>
                    <li><a href="/Webcam"><i class="fa fa-camera fa-medium"></i><b>Webcam detector (server)</b></a></li>
                    <li><a href="/WebcamClient"><i class="fa fa-camera fa-medium"></i><b>Webcam detector (client)</b></a></li>
				</ul>
			</div>
		</div> <!-- left section -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">	
            <img src="static/assets/images/logo-2.svg" alt="Logo" style="width: 20%; position: absolute; top: 30px; right: 30px; z-index: 100;" id="yolo">
			<h1 class="logo-right hidden-xs w3-animate-left" style="margin-bottom: 40px;">Detection</h1>	
			<div class="tm-right-inner-container">
                <div>
                    <div id="form_upload">
                        <h1 class="templatemo-header w3-animate-left">Upload your video <i class="fa fa-video-camera fa-medium"></i></h1>
                        <div class="container" id="loader">
                            <div class="reverse-spinner"></div>
                        </div>
                        <div style="width: 100%; display: block; margin-left: auto; margin-right: auto;" id="form" class="w3-animate-left"> 
                            <header id="portfolio">
                                <div style="text-align:center; padding-top: 10px;">
                                    <div class="alert alert-info" >
                                        <strong>Upload an .mp4 video and see the results </strong><a href="#popup1"><i class="fa fa-info-circle fa-medium"></i></a><br>
                                    </div>    
                                    <div id="popup1" class="overlay">
                                        <div class="popup">
                                            <h2>Info <i class="fa fa-info-circle fa-medium"></i></h2>
                                            <a class="close" href="#">&times;</a>
                                            <div class="content">
                                                If the video has fewer than 200 frames, it will be processed entirely and then displayed. If so, wait a few seconds please.
                                            </div>
                                        </div>
                                    </div>            
                                </div>
                            </header>
                            <form id="file-upload-form" class="uploader" action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
                                <input id="file-upload" type="file" name="file" accept="video/*" required/>
                            
                                <label for="file-upload" id="file-drag">
                                <iframe id="file-image" src="#" alt="Preview" class="hidden" style="border-radius: 15px;"></iframe>
                                <div id="start" style="height: 130px;">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <div>Select a video to process</div>
                                    <div id="notimage" class="hidden">Please select an .mp4 video!</div>
                                    <span id="file-upload-btn" class="btn btn-primary" style="border-radius: 10px; background-color: rgb(53, 91, 217);">Select a file</span>
                                </div>
                                <div id="response" class="hidden">
                                    <div id="messages"></div>
                                    <progress class="progress" id="file-progress" value="0">
                                        <span>0</span>%
                                    </progress>
                                </div>
                                </label>
                                <button class="btn btn-primary submit" type="submit" style="border-radius: 10px; float: right; background-color: rgb(53, 91, 217);"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
                            </form>
                        </div>
                    </div>
                    <div id="oggettiRilevati" class="w3-animate-bottom">
                        {% if filename!=null %}
                        {% if type=="immagini" %} 
                        <h1 class="templatemo-header">Video being processed ...</h1>
                        <div>
                            <img src="{{ url_for('video_feed', filename=filename) }}" style="width: 100%;">
                        </div>
                        {% elif type=="video" %}
                        <h1 class="templatemo-header">Processed video ...</h1>
                        <div class="videoWrapper">
                            <iframe width="560" height="349" src="{{ url_for('send_video', filename=filename) }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {% if oggetti|length != 0 %}
                        <hr style="border: 1px solid lightblue;">
                        <h1 class="templatemo-header">Objects</h1>
                        <table class="table table-striped text-center">
                            <thead class="table__head">
                            <tr>
                                <th scope="col" style="border-bottom: 2px solid lightblue; background-color: lightblue; border-radius: 10px 0 0 0;">#</th>
                                <th scope="col" class="text-center" style="border-bottom: 2px solid lightblue; background-color: lightblue; border-radius: 0 10px 0 0;"><i class="fa fa-car" aria-hidden="true"></i> Object</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for i in range (oggetti|length) %}
                            <tr>
                                <th scope="row">{{loop.index}}</th>
                                <td style="text-transform: capitalize;">{{ oggetti[i] }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        <button class="btn btn-primary submit" type="button" onclick="nuovoVideo()" style="font-size: 15px; border-radius: 10px; margin-top: 30px; padding-top: 10px; padding-bottom: 10px; width: 250px; box-shadow: 5px 5px 5px #888888; background-color: rgb(53, 91, 217); display: block; margin-left: auto; margin-right: auto;"><i class="fa fa-upload" aria-hidden="true"></i> Upload another video</button>
                    </div> 
			    </div>
		    </div> <!-- right section -->
	    </div>
    <script>
        var fileSupportato = false;
        $( document ).ready(function() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("oggettiRilevati").style.display = "none";
            document.getElementsByClassName("submit")[0].style.display = "none";
            
            if("{{filename}}" != ""){
                document.getElementById("form_upload").style.display = "none";
                document.getElementById("oggettiRilevati").style.display = "block";
            }
        });


        // File Upload 
        function ekUpload(){
            function Init() {

                console.log("Upload Initialised");

                var fileSelect    = document.getElementById('file-upload')

                fileSelect.addEventListener('change', fileSelectHandler, false);
            }

            function fileSelectHandler(e) {
                // Fetch FileList object
                var files = e.target.files || e.dataTransfer.files;

                // Process all File objects
                for (var i = 0, f; f = files[i]; i++) {
                parseFile(f);
                uploadFile(f);
                }
            }

        // Output
        function output(msg) {
            // Response
            var m = document.getElementById('messages');
            m.innerHTML = msg;
        }

        function parseFile(file) {

            console.log(file.name);
            output(
            '<strong>' + encodeURI(file.name) + '</strong>'
            );
            
            // var fileType = file.type;
            // console.log(fileType);
            var imageName = file.name;

            var isGood = (/\.(?=mp4)/gi).test(imageName);
            if (isGood) {
                document.getElementById('start').classList.add("hidden");
                document.getElementById('response').classList.remove("hidden");
                document.getElementById('notimage').classList.add("hidden");
                // Thumbnail Preview
                document.getElementById('file-image').classList.remove("hidden");
                document.getElementById('file-image').src = URL.createObjectURL(file);
                fileSupportato = true;
                document.getElementsByClassName("submit")[0].style.display = "block";
            }
            else {
                document.getElementById('file-image').classList.add("hidden");
                document.getElementById('notimage').classList.remove("hidden");
                document.getElementById('start').classList.remove("hidden");
                document.getElementById('response').classList.add("hidden");
                document.getElementById("file-upload-form").reset();
                fileSupportato = false;
            }
        }

        function setProgressMaxValue(e) {
            var pBar = document.getElementById('file-progress');

            if (e.lengthComputable) {
                pBar.max = e.total;
            }
        }

        function updateFileProgress(e) {
            var pBar = document.getElementById('file-progress');

            if (e.lengthComputable) {
                pBar.value = e.loaded;
            }
        }

        function uploadFile(file) {
            
            var xhr = new XMLHttpRequest(),
            fileInput = document.getElementById('class-roster-file'),
            pBar = document.getElementById('file-progress'),
            fileSizeLimit = 1024; // In MB
            if (xhr.upload) {
            // Check if file is less than x MB
                if (file.size <= fileSizeLimit * 1024 * 1024) {
                    // Progress bar
                    pBar.style.display = 'inline';
                    xhr.upload.addEventListener('loadstart', setProgressMaxValue, false);
                    xhr.upload.addEventListener('progress', updateFileProgress, false);

                    setTimeout(function(){
                        move();
                    }, 1000);
                } else {
                    output('Please upload a smaller file (< ' + fileSizeLimit + ' MB).');
                }
            }
        }

        // Check for the various File API support.
        if (window.File && window.FileList && window.FileReader) {
            Init();
        } else {
            document.getElementById('file-drag').style.display = 'none';
        }
        }
        ekUpload();


        //Progress bar
        var i = 0;
        function move() {
            if (i == 0) {
                i = 1;
                var elem = document.getElementsByClassName("progress")[0];
                var val = 0;
                var id = setInterval(frame, 10);
                function frame() {
                    if (val >= 100) {
                        clearInterval(id);
                        i = 0;
                    } else {
                        val++; 
                        elem.setAttribute("value", val);     
                    }
                }
            }
        }

        //Loader
        $('.submit').click(function() {
            if(fileSupportato){
                document.getElementById("form").style.opacity = 0.2;
                document.getElementById("loader").style.display = "block";
            }
        })

        function nuovoVideo(){
            location.href = "/video";
        }
    </script>
    </body>
</html>