<!DOCTYPE html>
<head>
	<!-- templatemo 419 black white -->
    <!-- 
    Black White
    http://www.templatemo.com/preview/templatemo_419_black_white
    -->
	<title>Webcam detector</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="static/core/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="static/core/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/core/css/templatemo_style.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/png">

    <style>
        img{
            border-radius: 10px;
        }
    </style>
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-left-container">
			<h1 class="logo-left">Object Detection</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-container" style="background-color: rgb(53, 91, 217)"> 
			<h1 class="logo-left hidden-xs" style="color: white; margin-bottom: 40px;">Object</h1>			
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
                    <li><a href="/"><i class="fa fa-home fa-medium"></i><b>Home</b></a></li>
                    <li><a href="/image"><i class="fa fa-image fa-medium"></i><b>Image detector</b></a></li>
                    <li><a href="/video"><i class="fa fa-video-camera fa-medium"></i><b>Video detector</b></a></li>
                    <li><a href="/YouTubeVideo"><i class="fa fa-youtube-play fa-medium"></i><b>YouTube video detector</b></a></li>
                    <li><a href="/Webcam" class="active"><i class="fa fa-camera fa-medium"></i><b>Webcam detector</b></a></li>
                    <li><a href="/WebcamClient"><i class="fa fa-camera fa-medium"></i><b>Webcam detector (client)</b></a></li>
				</ul>
			</div>
		</div> <!-- left section -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">	
            <img src="static/assets/images/logo-2.svg" alt="Logo" style="width: 20%; position: absolute; top: 20px; right: 20px; z-index: 100;">
			<h1 class="logo-right hidden-xs" style="margin-bottom: 40px;">Detection</h1>	
			<div class="tm-right-inner-container">
                <div id="webcams">
                    <h1 class="templatemo-header"></h1>
                    <header>
                        <div style="text-align:center; padding-top: 10px;">
                            <div class="alert alert-info" >
                                <strong>Seleziona una webcam tra quelle disponibili</strong><br>
                            </div>                
                        </div>
                    </header>
                    <form id="form-webcam" action="{{ url_for('select_webcam') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="selectWebcam">Seleziona una webcam</label>
                            <select class="form-control" id="selectWebcam" name="selectedWebcam">
                                <option value="" disabled selected>Webcam disponibili</option>
                                {% for cam in webcams %}
                                <option value="{{ loop.index-1 }}">Webcam {{ cam }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>           
                </div>
                <div>
                    {% if webcam!="" %}
                    <div id="oggettiRilevati">
                        <h1 class="templatemo-header">Webcam selezionata: {{ webcam }}</h1>
                        <div>
                            <img src="{{ url_for('video_feed', filename='webcam') }}" style="width: 100%;">
                        </div>
                    </div> 
                    {% endif %}
			    </div>	
		    </div> <!-- right section -->
	    </div>
    </body>
    <script>
        $("#selectWebcam").change(function() {
            this.form.submit();
        });
    </script>
</html>